

{% block title %}{{ book.title }}'s Page{% endblock %}

{% block body %}
<h1 class="title">{{ book.title }}</h1>
<p class="book-info">
    <h2>Author:</h2>
    <p>{{ book.author }}</p>
    <h2>Publish Date:</h2>
    <p>{{ book.publish_date }}</p>
    <h2>Overview:</h2>
    <p>{{ book.overview }}</p>
    <h3>Average Rating:</h3>
    <p>{{ book.avg_rating }}</p>
    <h3>Number Ratings:</h3>
    <p>{{ book.num_rating }}</p>
</p>


<ul class="reviews">
    <h2>Ratings</h2>
    {% for rating in book.ratings %}
    <li>
        {{rating.user.username}}
        <span>
            Score: {{rating.score}}
        </span>

        {% endfor %}
    </li>
</ul>


{% endblock %}
