

{% block title %}{{ user.username }}'s Page{% endblock %}

{% block body %}
<h1 class="username">{{ user.username }}</h1>
<p class="about-me">
    <h2>About Me:</h2>
    <p>{{ user.about_me }}</p>
</p>

<ul class="shelves">
    <h2>Shelves</h2>
{% for shelf in user.shelf %}
    <li>
        {{ shelf.shelf_name }}:
        <ul class="shelf">
            {% for book in shelf.bookshelf %}
            <li class="bookshelf">
                {{book.book.title}}
            </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>


{% endblock %}
