:root {
  margin: 0;
}

body {
  /* height: 100vh; */
  /* margin: 0vh; */
  /* padding: 2rem; */
  text-align: center;
  font-size: 4vh;

  font-family: "Courgette", cursive;
  color: #1c2a1d;

  background: linear-gradient(45deg, #8fa17d,#5b6a4d);
  background-size: cover;
  background-repeat: no-repeat;

  /* background:url('/static/so-white.png'); */
}

/* link attributes */
a{
  color: #161810;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", cursive;
  /* font-size: 15vh; */
  font-weight: bold;
  color: #161810;
  filter: drop-shadow(1px 1px 2px #5b6a4d);
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 8vh;
}

h3 {
  font-size: 7vh;
}

h4 {
  font-size: 6vh;
}

h5 {
  font-size: 5vh;
}

img {
  filter: drop-shadow(10px 10px 10px #5b6a4d);
}

.username {
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(45deg, #e4b4c3,#a23b72);
}

.details {
  font-weight: lighter;
  font-family: "Trocchi", serif;
  font-size: 3vh;
}

.book_title {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 5vh;

}

.user-details-full{
  border: medium groove #5b6a4d;
  padding: 2rem;
}

.border-double {
  border: medium double #5b6a4d;
  padding: 1rem;
}

.navbar {
  background: linear-gradient(45deg,#d996ba, #e4b4c3, #a23b72);
  /* position: fixed; */
  font-size: 26px;
  font-weight: 1000;
  width: 100vw!important;
  /* height: 100vw!important; */
  margin-right: 0px;
  margin-left: -15px;
}

.navbar-brand {
  font-size: 30px;
}

/* .user-details-pic {
  class='col';
} */

#dark {
  color: #161810;
}

.shelf-name {
  background: linear-gradient(45deg,#a23b72, #e4b4c3);
  box-shadow: 6px 6px 29px 0px #202418;
  /* color: #B6C3AC; */
}

.review-header {
  background-color: #e4b4ce;
  box-shadow: 6px 6px 29px 15px #A23B72;
  background: linear-gradient(45deg, #e4b4c3,#a23b72);
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.shelf-scroll{
  overflow: scroll;
  max-height: 34vh;
  background: linear-gradient(45deg,#202418, #5b6a4d,#202418);
  box-shadow: 6px 6px 29px 0px #202418;
  /* scroll-direction: horizontal; */
}

.green-background {
  background: linear-gradient(45deg,#202418, #5b6a4d,#202418);
}

.ratingcard-details {
  background: linear-gradient(45deg,#202418, #5b6a4d,#202418);
}

/* CSS */
.button-52 {
  font-size: 3vh;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  /* background-color: #E4B4CE; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 60px;
  margin-top: 20px;
}

.button-52:after {
  content: "";
  background: linear-gradient(45deg, #e4b4c3,#a23b72);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* Reseting */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .container{
    transform-style: preserve-3d;
} */

.container .box{
    position: relative;
    width: 20vh;
    height: 30vh;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 20vh;
    height: 30vh;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5b6a4d;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #e4b4c3,#a23b72);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}