body {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: "Old Standard TT", serif;
  color: #1c2a1d;

  background-color: #CBD4C4;
  background-size: cover;

  /* background:url('/static/so-white.png'); */
}

/* link attributes */
a{
  color: #A23B72;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  color: #161810;
  filter: drop-shadow(1px 1px 2px #5b6a4d);
}

img {
  filter: drop-shadow(10px 10px 10px #5b6a4d);
}

.username {
  font-weight: bolder;
}

.details {
  font-weight: lighter;
  font-family: "Trocchi", serif;
  font-size: medium;
}

.book_title {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 25px;

}

.user-details-full{
  border: medium groove #5b6a4d;
}

.border-double {
  border: medium double #5b6a4d;
}

#navbar {
  background-color: #839871;
  font-size: 26px;
  font-weight: 1000;
}

.navbar-brand {
  font-size: 30px;
}

/* .user-details-pic {
  class='col';
} */

#dark {
  color: #161810;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .container{
    transform-style: preserve-3d;
} */

.container .box{
    position: relative;
    width: 150px;
    height: 240px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5b6a4d;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #e4b4c3,#a23b72);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}