body {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: "Old Standard TT", serif;
  color: #1c2a1d;

  background-color: #CBD4C4;
  background-size: cover;

  /* background:url('/static/so-white.png'); */
}

/* link attributes */
a{
  color: #A23B72;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  color: #161810;
  filter: drop-shadow(1px 1px 2px #5b6a4d);
}

img {
  filter: drop-shadow(10px 10px 10px #5b6a4d);
}

.username {
  font-weight: bolder;
}

.details {
  font-weight: lighter;
  font-family: "Trocchi", serif;
  font-size: medium;
}

.book_title {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 25px;

}

.user-details-full{
  border: medium groove #5b6a4d;
}

.border-double {
  border: medium double #5b6a4d;
}

#navbar {
  background-color: #839871;
  font-size: 26px;
  font-weight: 1000;
}

.navbar-brand {
  font-size: 30px;
}

/* .user-details-pic {
  class='col';
} */

#dark {
  color: #161810;
}
